[user]
	email = dirk-jan@lemonlabs.nl
	name = Dirk-Jan
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[alias]
	pull-all = !git pull && git submodule update --init --recursive
	push-all = push --recurse-submodules=on-demand
  lgf = log --graph --topo-order --pretty='format:%C(yellow)%h%C(red)%d %Cblue%aD %Cgreenby %an%Creset -- %s'
	sdiff = !git diff && git submodule foreach 'git diff'
	supdate = submodule update --remote
	quick-stats = ! /usr/local/bin/git-quick-stats
  squash-all = "!f(){ git reset $(git commit-tree HEAD^{tree} \"$@\");};f"
	yolo = !git add . && git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\" && git push
[color]
	ui = auto
[core]
  excludesfile = ~/.gitignore
	editor = \"C:\\Program Files\\VSCodium\\bin\\codium\" --wait
	autocrlf = false
[pull]
  rebase = true
[winUpdater]
	recentlySeenVersion = 2.24.1.windows.2
[init]
	defaultBranch = main
[safe]
	directory = *
