[user]
	email = sander@chipta.com
	name = Sander Huurdeman
[push]
	default = simple
[alias]
	update = !git pull && git submodule update --init --recursive
	spush = push --recurse-submodules=on-demand
  lgf = log --graph --topo-order --pretty='format:%C(yellow)%h%C(yellow)%d %Cblue%aD %Cgreenby %an%Creset -- %s'
	sdiff = !git diff && git submodule foreach 'git diff'
	supdate = submodule update --remote --merge
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = 'subl' --wait
[pull]
  rebase = true
