save-prefix=~
update-notifier=false
@ld:registry=https://gitlab.management.legionelladossier.nl/api/v4/packages/npm/
//gitlab.management.legionelladossier.nl/api/v4/packages/npm/:_authToken=hDcEHDgNiGXMBPaE5wZZ
//gitlab.management.legionelladossier.nl/api/v4/projects/37/packages/npm/:_authToken=hDcEHDgNiGXMBPaE5wZZ
